/vendor
/node_modules
/.env
/.env.*
/.idea
/.vscode
/storage/*.key
/public/storage
/storage/framework/cache/data
/storage/logs
/storage/framework/sessions
/storage/framework/views
/.phpunit.result.cache
